<div class="container my-3">
  <h1 class="text-decoration-underline" appTituloEstilo>Agregar Alumno</h1>
  <form [formGroup]="formularioAlumno" (ngSubmit)="agregarAlumno()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre:</mat-label>
        <input
          matInput
          formControlName="nombre"
          placeholder="Ingrese nombre de alumno..."
        />
        <mat-hint>
          <p
            *ngIf="formularioAlumno.get('nombre')?.touched && formularioAlumno.get('nombre')?.errors?.['required']"
          >
            El nombre es requerido
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Apellido:</mat-label>
        <input
          matInput
          formControlName="apellido"
          placeholder="Ingrese apellido de alumno..."
        />
        <mat-hint>
          <p
            *ngIf="formularioAlumno.get('apellido')?.touched && formularioAlumno.get('apellido')?.errors?.['required']"
          >
            El apellido es requerido
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico:</mat-label>
        <input
          matInput
          formControlName="correo"
          placeholder="Ingrese correo electronico de alumno..."
        />
        <mat-hint>
          <p
          *ngIf="formularioAlumno.get('correo')?.touched && formularioAlumno.get('correo')?.errors?.['required']"
        >
          El correo electronico es requerido
        </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nota:</mat-label>
        <input
          matInput
          formControlName="nota"
          placeholder="Ingrese nota de alumno..."
        />
        <mat-hint>
          <p
            *ngIf="formularioAlumno.get('nota')?.touched && formularioAlumno.get('nota')?.errors?.['required']"
          >
            La nota es requerida
          </p>
        </mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox [labelPosition]="labelPosition" formControlName="profesional" class="mb-2">Profesional</mat-checkbox>
    </div>
    <button mat-raised-button [disabled]="formularioAlumno.invalid" color="primary" class="mt-2">Agregar Alumno</button>
  </form>
</div>