<div class="container my-3">
  <h1 class="text-decoration-underline" appTituloEstilo>Tabla de Cursos</h1>
  <mat-form-field class="col-md-6">
    <mat-label>Filtrar por nombre de curso</mat-label>
    <input type="text" matInput (keyup)="filtrarCurso($event)" />
  </mat-form-field>
  <mat-form-field class="col-md-6">
    <mat-label>Filtrar por comision de curso</mat-label>
    <input type="text" matInput (keyup)="filtrarComision($event)" />
  </mat-form-field>
  <div class="row">
    <table mat-table [dataSource]="dataSource" class="col-md-12">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let curso">{{ curso.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="comision">
        <th mat-header-cell *matHeaderCellDef>Comision</th>
        <td mat-cell *matCellDef="let curso">{{ curso.comision }}</td>
      </ng-container>
      <ng-container matColumnDef="profesor">
        <th mat-header-cell *matHeaderCellDef>Profesor</th>
        <td mat-cell *matCellDef="let curso">{{ curso.profesor }}</td>
      </ng-container>
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef>Inicia</th>
        <td mat-cell *matCellDef="let curso">{{ curso.fechaInicio | date: "dd/MM/YYYY" }}</td>
      </ng-container>
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef>Finaliza</th>
        <td mat-cell *matCellDef="let curso">{{ curso.fechaFin | date: "dd/MM/YYYY" }}</td>
      </ng-container>
      <ng-container matColumnDef="inscripcionAbierta">
        <th mat-header-cell *matHeaderCellDef>Inscripcion Abierta</th>
        <td mat-cell *matCellDef="let curso">
          <span [appBooleanEstilo]="curso.inscripcionAbierta">{{ curso.inscripcionAbierta | booleanATexto: "Si": "No"}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef>
          <button mat-icon-button (click)="editar()" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
  </div>
</div>

<!-- <button (click)="agregarCurso()">Agregar Curso</button>
<pre>{{ cursos$ | async | json }}</pre> -->
