.mat-divider {
    max-width: 90%;
    border-top-color: #3f51b5;
    border-top-width: 3px;
}

.mat-list-item:hover {
    color: #fff;
    background-color: #3f51b5;
}

.toolbar-title {
    color: #fff;
}