<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://img.freepik.com/foto-gratis/encendido-computadora-portatil-gris_400718-47.jpg?w=1060&t=st=1663708656~exp=1663709256~hmac=41ed7dd4523308f9f9c145e5fe12aecfbd21619ad28f2c1988b896458dcda35a"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Desarrollo Web</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam veniam iste maiores delectus accusamus officiis repellendus commodi quae alias. Nostrum similique ipsum repellendus fugit labore placeat officiis vero nobis illum.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://img.freepik.com/foto-gratis/encendido-computadora-portatil-gris_400718-47.jpg?w=1060&t=st=1663708656~exp=1663709256~hmac=41ed7dd4523308f9f9c145e5fe12aecfbd21619ad28f2c1988b896458dcda35a"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae aliquam perspiciatis quia repellat, molestias eaque qui, sequi tempore blanditiis hic ipsum repudiandae voluptatum nesciunt nostrum unde alias recusandae nulla quidem.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://img.freepik.com/foto-gratis/encendido-computadora-portatil-gris_400718-47.jpg?w=1060&t=st=1663708656~exp=1663709256~hmac=41ed7dd4523308f9f9c145e5fe12aecfbd21619ad28f2c1988b896458dcda35a"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam porro iure exercitationem qui voluptate necessitatibus obcaecati nesciunt vitae nisi aliquam facere hic aliquid aspernatur, molestiae esse asperiores a distinctio eligendi!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
