<hr>

<h1 class="my-3">Inicio de Sesión</h1>

<form [formGroup]="formularioUsuario" (ngSubmit)="agregarUsuario()">
  <div class="my-2">
    <label for="">Nombre:</label>
    <input type="text" formControlName="nombre" />
    <p
      *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['required']"
    >
      El campo nombre es requerido
    </p>
  </div>

  <div class="my-2">
    <label for="">Correo Electrónico:</label>
    <input type="text" formControlName="correo" />
    <p
      *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['required']"
    >
      El campo correo es requerido
    </p>
    <p
      *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['pattern']"
    >
      El formato del correo no es correcto
    </p>
  </div>

  <div class="my-2">
    <label for="">Contraseña:</label>
    <input type="password" formControlName="contrasena" />
    <p
      *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['required']"
    >
      El campo contrasena es requerido
    </p>
    <p
      *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['minlength']"
    >
      La contrasena debe tener al menos 5 caracteres
    </p>
    <p
      *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['pattern']"
    >
      La contrasena debe tener al menos una mayuscula
    </p>
  </div>

  <div class="my-2">
    <label for="">Confirmar Contraseña:</label>
    <input type="password" formControlName="contrasena2" />
    <p
      *ngIf="formularioUsuario.get('contrasena2')?.touched && formularioUsuario.get('contrasena2')?.errors?.['required']"
    >
      El campo contraseña es requerido
    </p>
    <p
      *ngIf="formularioUsuario.get('contrasena2')?.touched && formularioUsuario.get('contrasena2')?.errors?.['minlength']"
    >
      La contraseña debe tener al menos 5 caracteres
    </p>
    <p *ngIf="!contrasenasIguales" class="my-2">Las contraseñas deben ser iguales</p>
  </div>

  <div>
    <label for="">Admin:</label>
    <input type="checkbox" formControlName="admin" />
  </div>

  <button type="submit" [disabled]="formularioUsuario.invalid" class="my-2">
    Agregar Usuario
  </button>
</form>

<hr>
